{% extends 'layout/base.html' %}
<!--항상 파일 이름은 ''로 묶기-->

{%block content%}
    <h1>Hi, {{current_user.username}}</h1><!--logged in user's name-->
    
    {%if form%} 

    <form action="" method='post'>
    {{form.hidden_tag()}}
    <p>
        {{form.post.label}}<br>
        {{form.post(cols=32,rows=4)}}<br>
        {%for error in form.post.errors%}
        <span style="color:red;">[{{error}}]</span>
        {%endfor%}

    </p>
    <p>{{form.submit()}}</p>    
    </form>

    {%endif%}
    
    {%for post in posts%}
        {%include 'layout/_post.html'%}
    <!--all users' posts will be listed-->
    {%endfor%}
    {%if prev_url%}
    <a href="{{prev_url}}">Newer Posts</a>
    {%endif%}
    {%if next_url%}
    <a href="{{next_url}}">Older Posts</a>
    {%endif%}
{%endblock%}